body{
    font: 16px arial;
    margin: 0; /* in most browsers body has a default left, right, top and bottom margin of 8px */ 
}
#header{
    text-align: center; /* the text CRUD would be centered horizontally */
    background-color: #1abc9c;
    padding: 10px;
}
#header h1{
    color: #fff;
    font-size: 40px;
    font-style: italic;
    font-weight: 700; /* higgher the value, bolder */
    text-transform: uppercase;
    margin: 0; /* default margin of heading h1 is removed */
}
#menu{
    background-color: #fff;
}
#menu ul{
    padding: 0 10px; /* padding top and bottom is 0, padding left and right is 10px */
    display: flex;
    list-style-type: none; /* by default there is a bullet point */
}
#menu ul li a{
    color: #000;
    font-weight: 600;
    padding: 8px 10px; /* padding top and bottom is 8px, padding left and right is 10px */
    text-decoration: none; /* default underline is removed */
    text-transform: uppercase;
}
#main-content{
    padding: 25px;
}
#main-content h2{
    text-transform: capitalize; /* first letter of every word is capital */
}
#main-content table, #main-content th, #main-content td {
    border: 1px solid #000;
}
#main-content table{
    width: 100%; /* by default 100% of the table's parent that is a div with id main-content is not taken, the width taken by default depends on the font-size of the text in table, only the required width for text to fit inside each cell accounting for padding within each cell is there by default, no more */
}
#main-content table th{
    text-transform: uppercase;
}
#main-content table td a{
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 7px; /* padding at top and bottom is 3px, padding at left and right is 7px */
    color: #fff;
    background-color: #e67e22;
    text-decoration: none; /* default underline is removed */
}
#main-content table td a:nth-child(2){
    background-color: #e74c3c;
}
#main-content .post-form{
    width: 100%; /* 100% width of div with id main-content would be used */
    padding: 25px;
}
#main-content .post-form .form-group{
    margin-bottom: 15px;
}
#main-content .post-form .form-group label{
    width: 30%;
    display: inline-block; /* if width is to be set to 30% of the div with class form-group then display has to be set to inline-block for the label, if this line of code is not there, then line containing width: 30%; that is above this line would not alter the width of the label */
    font-weight: 600;
}
#main-content .post-form .form-group input{
    width: 68%; /* input has display set to inline-block by default, so the code in this line could affect the width of input field */
    padding: 5px;
}

#main-content .post-form .form-group select{
    width: 69%; /* select has display set to inline-block by default, so the code in this line could affect the width of select field */
    padding: 5px;
}
#main-content .post-form .submit{
    text-transform: uppercase;
    padding: 5px 10px; /* padding at the top and bottom is set to 5px, padding at left and right is set to 10px */
    color: #fff;
    background-color: #333;
    margin-left: 30%;
    cursor: pointer;
}
