body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#header{
    background-color: red;
    padding: 10px;
    color: white;
}
#menu{
    background-color: purple;
}
#menu ul{
    display: flex;
    list-style-type: none; /* bullet points that are ther by default are removed */
    padding-left: 0; /* the indentation i.e. there is removed */
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
#menu ul li{
    padding-left: 10px; /* gap is added between list items */
}
a{
    text-decoration: none; /* underline that is there by default is removed */
}
#menu a{
    color: white;
}

#sidebar a{
    color: black;
}
#contentandsidebar{
    display: flex;
}
#sidebar{
    background-color: lightgray;
    border-left: 2px solid;
}
#content{
    flex-grow: 1;
}
#sidebar ul{
    padding-right: 20px;
}
#content{
    margin-left: 15px;
}
#footer{
    background-color: red;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    padding-right: 5px;
}
#contentandsidebar{
    flex-grow: 1;
}
